<tbody>
  <tr>
    <th colspan="2">Physical Examination Information</th>
  </tr>
  <tr id="list_fields">
    <td>
      <span type="form" name="physical_exam:paraphy" showhead="default"></span>
      <span type="form" name="physical_exam:urethra_discharge" showhead="default"></span>
      <span type="form" name="physical_exam:hypo_spadia" showhead="default"></span>
      <span type="form" name="physical_exam:scrotum_swell" showhead="default"></span>
    </td>
    <td>
      <span type="form" name="physical_exam:genital_ulcer" showhead="default"></span>
      <span type="form" name="physical_exam:pen_wart" showhead="default"></span>
      <span type="form" name="physical_exam:phimosis" showhead="default"></span>
      <span type="form" name="physical_exam:erect_dysfunction" showhead="default"></span>
    </td>
  </tr>
</tbody>
