<tbody>
  <tr>
    <th colspan="2">Adverse Event Information</th>
  </tr>
  <tr id="list_fields">
    <td>
      <span type="form" name="adverse_event:adv_event" showhead="default"></span>
      <span type="form" name="adverse_event:pain" showhead="default"></span>
      <span type="form" name="adverse_event:anesthetic" showhead="default"></span>
    </td>
    <td>
      <span type="form" name="adverse_event:ex_bleeding" showhead="default"></span>
      <span type="form" name="adverse_event:ex_skin_removed" showhead="default"></span>
      <span type="form" name="adverse_event:penis_damage" showhead="default"></span>
    </td>
  </tr>
</tbody>
