<tbody>
  <tr>
    <th colspan="2">Followup Notes</th>
  </tr>
  <tr id="list_fields">
    <td>
      <span type="form" name="followup_notes:followup" showhead="default"></span>
      <span type="form" name="followup_notes:visit" showhead="default"></span>
      <span type="form" name="followup_notes:visit_date" showhead="default"></span>
      <span type="form" name="followup_notes:pain" showhead="default"></span>
      <span type="form" name="followup_notes:anesthetic" showhead="default"></span>
      <span type="form" name="followup_notes:swelling" showhead="default"></span>
      <span type="form" name="followup_notes:infection" showhead="default"></span>
      <span type="form" name="followup_notes:wound_delay" showhead="default"></span>
    </td>
    <td>
      <span type="form" name="followup_notes:appearance" showhead="default"></span>
      <span type="form" name="followup_notes:urinate_problem" showhead="default"></span>
      <span type="form" name="followup_notes:skin_torsion" showhead="default"></span>
      <span type="form" name="followup_notes:erectile_dysfunction" showhead="default"></span>
      <span type="form" name="followup_notes:ex_bleeding" showhead="default"></span>
      <span type="form" name="followup_notes:ex_skin_removed" showhead="default"></span>
      <span type="form" name="followup_notes:ins_skin_removed" showhead="default"></span>
      <span type="form" name="followup_notes:penis_damage" showhead="default"></span>
      <span type="form" name="followup_notes:psycho_behavior" showhead="default"></span>
    </td>
  </tr>
</tbody>
