<div task='person_can_view_child_form_tb_screening'>
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
      <li task='person_can_edit_child_form_tb_screening'>
	<span type="form" ifset="tb_screening:id" name="tb_screening:id" href="tb_screening?id=" parent="true">
	  Update this Information
	</span>
      </li>
    </ul>
  </div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tbody>
      <tr>
        <th colspan="2">TB Screening  Information</th>
      </tr>
      <span type="form" name="tb_screening:coughing" showhead="default"></span>
      <span type="form" name="tb_screening:weight_loss" showhead="default" class="even"></span>
      <span type="form" name="tb_screening:drenching" showhead="default"></span>
      <span type="form" name="tb_screening:fever" showhead="default" class="even"></span>
      </tbody>
    </table>
  </div> <!-- dataTable -->
</div>