<div task='person_can_view_child_form_followup_notes'>
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
      <li task='person_can_edit_child_form_followup_notes'>
	<span type="form" ifset="followup_notes:id" name="followup_notes:id" href="followup_notes?id=" parent="true">
	  Update this Information
	</span>
      </li>
    </ul>
  </div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tbody>
      <tr>
        <th colspan="2">Followup Notes</th>
      </tr>
      <span type="form" name="followup_notes:visit" showhead="default"></span>
      <span type="form" name="followup_notes:visit_date" showhead="default" class="even"></span>
      <span type="form" name="followup_notes:pain" showhead="default"></span>
      <span type="form" name="followup_notes:anesthetic" showhead="default" class="even"></span>
      <span type="form" name="followup_notes:swelling" showhead="default"></span>
      <span type="form" name="followup_notes:infection" showhead="default" class="even"></span>
      <span type="form" name="followup_notes:wound_delay" showhead="default"></span>
      <span type="form" name="followup_notes:appearance" showhead="default" class="even"></span>
      <span type="form" name="followup_notes:urinate_problem" showhead="default"></span>
      <span type="form" name="followup_notes:skin_torsion" showhead="default" class="even"></span>
      <span type="form" name="followup_notes:erectile_dysfunction" showhead="default"></span>
      <span type="form" name="followup_notes:ex_bleeding" showhead="default" class="even"></span>
      <span type="form" name="followup_notes:ex_skin_removed" showhead="default"></span>
      <span type="form" name="followup_notes:ins_skin_removed" showhead="default" class="even"></span>
      <span type="form" name="followup_notes:penis_damage" showhead="default"></span>
      <span type="form" name="followup_notes:psycho_behavior" showhead="default" class="even"></span>
      </tbody>
    </table>
  </div> <!-- dataTable -->
</div>