<div task='person_can_view_child_form_physical_exam'>
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
      <li task='person_can_edit_child_form_physical_exam'>
	<span type="form" ifset="physical_exam:id" name="physical_exam:id" href="physical_exam?id=" parent="true">
	  Update this Information
	</span>
      </li>
    </ul>
  </div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tbody>
      <tr>
        <th colspan="2">Physical Examination Information</th>
      </tr>
      <span type="form" name="physical_exam:paraphy" showhead="default"></span>
      <span type="form" name="physical_exam:urethra_discharge" showhead="default" class="even"></span>
      <span type="form" name="physical_exam:hypo_spadia" showhead="default"></span>
      <span type="form" name="physical_exam:scrotum_swell" showhead="default" class="even"></span>
      <span type="form" name="physical_exam:genital_ulcer" showhead="default"></span>
      <span type="form" name="physical_exam:pen_wart" showhead="default" class="even"></span>
      <span type="form" name="physical_exam:phimosis" showhead="default"></span>
      <span type="form" name="physical_exam:erect_dysfunction" showhead="default" class="even"></span>
      </tbody>
    </table>
  </div> <!-- dataTable -->
</div>