<div task='person_can_view_child_form_referral_linkages'>
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
      <li task='person_can_edit_child_form_referral_linkages'>
	<span type="form" ifset="referral_linkages:id" name="referral_linkages:id" href="referral_linkages?id=" parent="true">
	  Update this Information
	</span>
      </li>
    </ul>
  </div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tbody>
      <tr>
        <th colspan="2">Referral and Linkages Information</th>
      </tr>
      <span type="form" name="referral_linkages:cdf_count" showhead="default"></span>
      <span type="form" name="referral_linkages:pre_art" showhead="default" class="even"></span>
      <span type="form" name="referral_linkages:art" showhead="default"></span>
      </tbody>
    </table>
  </div> <!-- dataTable -->
</div>
