<div task='person_can_view_child_form_adverse_event'>
  <div class="editRecord">
    <p>Edit This Information</p>
    <ul>
      <li task='person_can_edit_child_form_adverse_event'>
	<span type="form" ifset="adverse_event:id" name="adverse_event:id" href="adverse_event?id=" parent="true">
	  Update this Information
	</span>
      </li>
    </ul>
  </div> <!-- editRecord -->
  
  <div class="dataTable">
    <table border="0" cellspacing="0" cellpadding="0">
      <tbody>
      <tr>
        <th colspan="2">Adverse Event Information</th>
      </tr>
      <span type="form" name="adverse_event:adv_event" showhead="default"></span>
      <span type="form" name="adverse_event:pain" showhead="default" class="even"></span>
      <span type="form" name="adverse_event:anesthetic" showhead="default"></span>
      <span type="form" name="adverse_event:ex_bleeding" showhead="default" class="even"></span>
      <span type="form" name="adverse_event:ex_skin_removed" showhead="default"></span>
      <span type="form" name="adverse_event:penis_damage" showhead="default" class="even"></span>
      </tbody>
    </table>
  </div> <!-- dataTable -->
</div>