<div>
    <div class="editRecord">
        <p>Edit This Information</p>
        <ul>
            <li task='person_can_edit_child_form_person_profdev'><span type="form" name="person_profdev:id" href="person_profdev?id=" parent="true">Update this Information</span></li>
        </ul>
    </div> <!-- editRecord -->

    <div class="dataTable">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th colspan="2">Other Training</th>
            </tr>
            <span type="form" name="person_profdev:year" showhead="default"></span>
            <span type="form" name="person_profdev:course" showhead="default" class="even"></span>
            <span type="form" name="person_profdev:duration" showhead="default"></span>
            <span type="form" name="person_profdev:certification" showhead="default" class="even"></span>
        </table>
    </div> <!-- dataTable -->
</div>