<div id="welcomeIntro">
<img src="file/photos/loggedin_photo.jpg" alt="(photo)" width="308" height="203" />
<h1>Welcome</h1>
<p>
<strong>VMMC Information System</strong> is a circumcision tracking tool that enables us to report on Jhpeigo's work on supporting VMMC. 
Please login using your username and password to access full functionality of the software. 
The favoured browser for compatibility reasons is the <a href="https://www.google.com/intl/en/chrome/browser/" target="_blank"> Google Chrome</a>. Please make take note of the CAPS lock key
to ensure that both your username and password are entered correclty.
</p>
</div><!-- /welcomeIntro -->
