<div id="siteContent">
<h1>Manage Clients</h1>
<div task='person_can_edit'>
  <h2><a href="person" class="createRecords">Register New Client</a></h2>
  <p>
    <span type='module' name='ihris-manage-Application' ifenabled='!true'>
      To track a client in the database, add a
      record for that client. Certain information is required to start a new record. 
      Once the record is generated, additional options for adding data about the client 
      will become available.
    </span>

  </p>

  <hr />
</div>
</div>
