<!-- WARNING:  If you do not create the tasks as decribed below, you will need to remove the task attribute from this div -->
<div id="list_display" class='recordsData' task="can_view_database_list_fav_color">
 
        <div class="editRecord">
        <p>Edit This Information</p>
                <ul>
                        <li task='can_edit_database_list_fav_color'><span type="form" name="fav_color:id" href="lists?type=fav_color&amp;id=" >Update this Information </span></li>
                        <li><a href="lists?type=emp_status">Select another Favorite Color</a></li>
                </ul>
        </div> <!-- editRecord -->
 
        <div class="dataTable">
        <table border="0" cellspacing="0" cellpadding="0">
                <tr>
                        <th colspan="2">Favorite Color</th>
                </tr>
                <span type="form" name="fav_color:name" showhead="default"></span>
        </table>
        </div> <!-- dataTable -->
 
</div> <!-- list_display -->
