<div id="siteContent">
  <h1>
    Client: <span type="form" name="person:surname" />,<span type="form" name="person:firstname" />
  </h1>
  
  <div class="recordsData">
    <h3>
      <a name="jump_individual">Client Profile</a>
    </h3>
    <p class="editRecordsData" id="individual_links">
      <a href="" class="hide" title="Hide" onclick="return hideDiv('individual', this );">Hide</a>
     <span task="person_can_edit_child_form_demographic" type="form" name="person:id" href="demographic?parent=" ifset="!demographic:id">Add Demographic Information</span>
     <span type='module' name='PersonID' ifenabled='!true'>
        <span task='person_can_edit_child_form_person_id' type="form" name="person:id" href="person_id?parent=" >Add Identification</span>
      </span>
     <span type='module' name='PrintedForms' ifenabled='!true'>
	<span task='printed_forms_can_access'>
	  <span type='module' if="PrintedForms->hasValidForms('person')">
	    <span type='form' href="PrintedForms/menu?id=" name="person:id">Standardized Letters</span>
	  </span>
	</span>
      </span>
    </p>
    
    <div id="individual">
      <div class="editRecord" >
        <p>Edit This Information</p>
        <ul>
          <li task='person_can_edit'>
            <span type="form" name="person:id" href="person?id=" >Update this Information </span>
          </li>
          <li>
            <span type="form" name="person:id" parent="true" href="field_history?field=surname,firstname,othername&amp;template=fullname&amp;type=person&amp;id=" >View Name History</span>
          </li>
        </ul>
      </div>
       <!-- editRecord -->
      <div class="dataTable">
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <th colspan="2">Client Details</th>
          </tr>
          <span type="form" name="person:surname" showhead="default"></span>
          <span type="form" name="person:firstname" showhead="default" class="even"></span>
          <span type="form" name="person:othername" showhead="default"></span>
          <span type="form" name="person:nationality" showhead="default" class="even"></span>
          <span type="form" name="person:birth_date" showhead="default"  ></span>
          <span type="form" name="person:marital_status" showhead="default" ></span>
          <span type="form" name="person:date_of_visit" showhead="default"  ></span>
          <span type="form" name="person:residence" showhead="location" mline="true">
          </span>
        </table>
      </div> <!-- dataTable -->
      <div id='demographic' class='recordsData'>  </div>
    </div> <!--end indiviudal-->
    <br style="clear: both;" />
  </div> <!--end records data-->

  <span type='module' name='MCRisk'>
    <div class="recordsData" task='person_can_view_child_form_risk_reduction'>
      <h3>
        <a name="jump_contact">MC &amp; Risk Reduction Information</a>
      </h3>
      <p class="editRecordsData">
        <a href="" class="hide" title="Hide" onclick="return hideDiv('risk_reduction', this );">Hide</a>
        <span task='person_can_edit_child_form_risk_reduction' type="form" name="person:id" href="risk_reduction?parent=" >Record MC Risk Reducation</span>
      </p>
      <div id="risk_reduction"></div>
      <br style="clear: both;" />
    </div>
     <!-- recordsData -->
  </span>
  
  <span type='module' name='MedicalHistory'>
    <div class="recordsData" task='person_can_view_child_form_medical_history'>
      <h3><a name="jump_dependent">Medical History</a></h3>
      <p class="editRecordsData">
        <a href="" class="hide" title="Hide" onclick="return hideDiv('medical_history', this );">Hide</a>
        <span task='person_can_edit_child_form_medical_history' type="form" name="person:id" href="medical_history?parent=" >Record Medical History</span>
      </p>
      <div id="medical_history"></div>
      <br style="clear: both;" />
    </div>
  </span>
  
  <span type='module' name='PhysicalExam'>
    <div class="recordsData" task='person_can_view_child_form_physical_exam'>
      <h3><a name="jump_dependent">Physical Examination History</a></h3>
      <p class="editRecordsData">
        <a href="" class="hide" title="Hide" onclick="return hideDiv('physical_exam', this );">Hide</a>
        <span task='person_can_edit_child_form_physical_exam' type="form" name="person:id" href="physical_exam?parent=" >Add Physical Examination</span>
      </p>
      <div id="physical_exam"></div>
      <br style="clear: both;" />
    </div>
  </span>

  <span type='module' name='MCProcedure'>
    <div class="recordsData" task='person_can_view_child_form_mc_procedure'>
      <h3>
        <a name="jump_confirmation">MC Procedure Information</a>
      </h3>
      <p class="editRecordsData">
        <a href="" class="hide" title="Hide" onclick="return hideDiv('mc_procedure', this );">Hide</a>	
        <span task='person_can_edit_child_form_mc_procedure' type="form" name="person:id" href="mc_procedure?parent=" >Add Physical Examination</span>
      </p>
      <div id='mc_procedure' ></div>
      <br style="clear: both;" />
    </div>
     <!--  recordsData -->
  </span>
  
  <span type='module' name='AdverseEvent'>
    <div class="recordsData" task='person_can_view_child_form_adverse_event'>	
      <h3>
        <a name="jump_accident">Adverse Event</a>
      </h3>
      <p class="editRecordsData">
        <a href="" class="hide" title="Hide" onclick="return hideDiv('adverse_event', this );">Hide</a>
        <span task='person_can_edit_child_form_adverse_event' type="form" name="person:id" href="adverse_event?parent=">Record Adverse Event</span>
      </p>
      <div id='adverse_event'></div>
      
      <br style="clear: both;" />
    </div>
  </span>

  <span type='module' name='Followup'>
    <div class="recordsData" task='person_can_view_child_form_followup_notes'>
      <h3>
        <a name="jump_notes">Follow Up Notes</a>
      </h3>
      <p class="editRecordsData">
        <a href="" class="hide" title="Hide" onclick="return hideDiv('followup_notes', this );">Hide</a>
        <span task='person_can_edit_child_form_followup_notes' type="form" name="person:id" href="followup_notes?parent=" >Record Follow up Notes</span>
      </p>
      <div id="followup_notes"></div>
      <br style="clear: both;" />
    </div>
     <!--  recordsData -->
  </span>

  <div class="recordsData" task='person_can_view_child_form_person_record_status'>
    <h3><a name="jump_record_status">Record Status</a></h3>
    <p class="editRecordsData" id="record_status_links">
      <a href="" class="hide" title="Hide" onclick="return hideDiv('person_record_status', this );">Hide</a>
    </p>
    <div id="person_record_status"></div> 
    <br style="clear: both;" />	
  </div> <!--  recordsData -->
  
  <span type='module' name='PersonArchivedScan'>
    <div class="recordsData" task='person_can_view_child_form_person_archive_scan'>
      <h3>
        <a name="jump_archived_scans">Scanned Paper Records</a>
      </h3>
      <p class="editRecordsData">
        <a href="" class="hide" title="Hide" onclick="return hideDiv('notes', this );">Hide</a>
        <span task='person_can_edit_child_form_person_archive_scan' type="form" name="person:id" href="person_archive_scan?parent=" >Add Scanned Document</span>
      </p>
      <div id='person_archive_scan' ></div>
      <br style="clear: both;" />	
    </div>
     <!--  recordsData -->
  </span>  

</div>
