<tbody>
<tr>
    <th>Training needs that would improve everyday work</th>
    <th>Training needs for personal development</th>
</tr>
<tr id="list_fields">
    <td>
        <span type="form" name="person_continuous_profdev:work_training_1" showhead="default"></span>
        <span type="form" name="person_continuous_profdev:work_training_2" showhead="default"></span>
        <span type="form" name="person_continuous_profdev:work_training_3" showhead="default"></span>
    </td>
    <td>
        <span type="form" name="person_continuous_profdev:personal_training_1" showhead="default"></span>
        <span type="form" name="person_continuous_profdev:personal_training_2" showhead="default"></span>
        <span type="form" name="person_continuous_profdev:personal_training_3" showhead="default"></span>
    </td>
</tr>
</tbody>