<div>
    <div class="editRecord">
        <p>Edit This Information</p>
        <ul>
            <li role='person_can_edit_child_form_person_continuous_profdev'><span type="form" ifset="person_continuous_profdev:id" name="person_continuous_profdev:id" href="demographic?id=" parent="true">Update this Information</span></li>
        </ul>
    </div> <!-- editRecord -->

    <div class="dataTable">
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <th colspan="2">Training needs that would improve everyday work</th>
            </tr>
            <span type="form" name="person_continuous_profdev:work_training_1" showhead="default"></span>
            <span type="form" name="person_continuous_profdev:work_training_2" showhead="default" class="even"></span>
            <span type="form" name="person_continuous_profdev:work_training_3" showhead="default"></span>
            <tr>
                <th colspan="2">Training needs for personal development</th>
            </tr>
            <span type="form" name="person_continuous_profdev:personal_training_1" showhead="default"></span>
            <span type="form" name="person_continuous_profdev:personal_training_2" showhead="default"></span>
            <span type="form" name="person_continuous_profdev:personal_training_3" showhead="default"></span>
            </tbody>
        </table>
    </div> <!-- dataTable -->

</div>