<div>
    <div class="editRecord">
        <p>Edit This Information</p>
        <ul>
            <li task='person_can_edit_child_form_person_mcrisk'><span type="form" name="person_mcrisk:id" href="person_mcrisk?id=" parent="true">Update this Information</span></li>
        </ul>
    </div> <!-- editRecord -->

    <div class="dataTable">
        <table border="0" cellspacing="0" cellpadding="0">
            <tr>
                <th colspan="2">Other Training</th>
            </tr>
            <span type="form" name="person_mcrisk:year" showhead="default"></span>
            <span type="form" name="person_mcrisk:course" showhead="default" class="even"></span>
            <span type="form" name="person_mcrisk:duration" showhead="default"></span>
            <span type="form" name="person_mcrisk:certification" showhead="default" class="even"></span>
        </table>
    </div> <!-- dataTable -->
</div>